body {
	width: 400px;
	padding: 10px;
	font-family: sans-serif;
}

h1 {
	font-size: 1.2em;
	color: #333;
}

button {
	width: 100%;
	padding: 8px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#status {
	margin-top: 10px;
	font-size: 0.9em;
	color: #666;
}

.fullwidth-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#saveButton {
	margin-top: 10px;
	transition: background-color 0.3s;
}

#saveButton.success {
	background-color: green;
	transition: background-color 0.3s;
}